<div class="mermaid" align=center }}>
    <!-- Render text as Mermaid diagram -->
    {{ safeHTML .Inner }}
</div>
<script async src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
